<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/styles.css" type="text/css" rel="stylesheet" />
<title>Placowki</title>
</head>

<body>
	<nav role="navigation">
		<div id="menuToggle">
			<ul id="menu">
				<li><a href="/">Strona główna</a></li>
				<li><a href="/klienci/">Klienci</a></li>
				<li><a href="/korty/">Korty</a></li>
				<li><a href="/wylogowanie">Wyloguj się</a></li>
			</ul>
		</div>
	</nav>
	<div class="table"  align="center">
		<!--  Page header -->
		<h1>Placówki</h1>

		<!-- Adding new record -->
		<a href="/new">Dodaj nową placówkę</a> <br /> <br />

		<!-- Table with records -->
		<table class="content-table">

			<!-- Table header -->
			<thead>
				<tr>
					<th>Id placówki</th>
					<th>Nazwa placówki</th>
					<th>Nr telefonu</th>
					<th>Id adresu</th>
				</tr>
			</thead>

			<!-- Table body -->
			<tbody>
				<tr th:each="placowka : ${placowki}">
					<td th:text="${placowka.idPlacowki}">Id placówki</td>
					<td th:text="${placowka.nazwaPlacowki}">Nazwa placówki</td>
					<td th:text="${placowka.nrTelefonu}">Nr telefonu</td>
					<td th:text="${placowka.idAdresu}">Id adresu</td>

				</tr>
			</tbody>

		</table>
	</div>
</body>
</html>