<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/styles.css" type="text/css" rel="stylesheet" />
<title>Placówki</title>
</head>

<body>
	<nav role="navigation">
		<div id="menuToggle">
			<ul sec:authorize="hasRole('ADMIN')" id="menu">
				<li><a href="/">Strona główna</a></li>
				<li><a href="/adresy/">Adresy</a></li>
				<li><a href="/korty/">Korty</a></li>
				<li><a href="/klienci/">Klienci</a></li>
				<li><a href="/wylogowanie">Wyloguj się</a></li>
			</ul>
			
			<ul sec:authorize="hasRole('KLIENT')" id="menu">
				<li><a href="/">Strona główna</a></li>
				<li><a href="/adresy/">Adresy</a></li>
				<li><a href="/korty/">Korty</a></li>
				<li><a href="/wylogowanie">Wyloguj się</a></li>
			</ul>
		</div>
	</nav>
	<div class="table" align="center">
		<!--  Page header -->
		<h1>Placówki</h1>

		<!-- Entry to the new page -->
		<a sec:authorize="hasRole('ADMIN')" href="/placowki/new">Dodaj
			nową placówkę</a> <br /> <br />


		<!-- Table with records -->
		<table class="content-table">

			<!-- Table header -->
			<thead>
				<tr>
					<th>Id placówki</th>
					<th>Nazwa placówki</th>
					<th>Nr telefonu</th>
					<th>Id adresu</th>
				</tr>
			</thead>

			<!-- Table body -->
			<tbody>
				<tr th:each="placowka : ${placowki}">
					<td th:text="${placowka.idPlacowki}">Id placówki</td>
					<td th:text="${placowka.nazwaPlacowki}">Nazwa placówki</td>
					<td th:text="${placowka.nrTelefonu}">Nr telefonu</td>
					<td th:text="${placowka.idAdresu}">Id adresu</td>

					<td class="last"><a sec:authorize="hasRole('ADMIN')"
						th:href="@{'/placowki/edit/' + ${placowka.idPlacowki}}">Edytuj</a><a
						sec:authorize="hasRole('ADMIN')"
						th:href="@{'/placowki/delete/' + ${placowka.idPlacowki}}">Usuń</a></td>

				</tr>
			</tbody>

		</table>
	</div>
</body>
</html>