<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Klienci</title>
<link href="/styles.css" rel="stylesheet" />
</head>

<body sec:authorize="hasRole('ADMIN')">
	<nav role="navigation">
		<div id="menuToggle">
			<ul id="menu">
				<li><a href="/">Strona główna</a></li>
				<li><a href="/placowki/">Placówki</a></li>
				<li><a href="/adresy/">Adresy</a></li>
				<li><a href="/korty/">Korty</a></li>
				<li><a href="/wylogowanie">Wyloguj się</a></li>
			</ul>
		</div>
	</nav>
	<div class="table" align="center">
		<!--  Page header -->
		<h1>Klienci</h1>

		<!-- Entry to the new page -->
		<a sec:authorize="hasRole('ADMIN')" href="/klienci/new">Dodaj
			nowego klienta</a> <br /> <br />

		<!-- Table with records -->
		<table class="content-table">

			<!-- Table header -->
			<thead>
				<tr>
					<th>Id klienta</th>
					<th>Imię</th>
					<th>Nazwisko</th>
					<th>Nr telefonu</th>
					<th>Status klienta</th>
					<th>Nr szafki</th>
				</tr>
			</thead>

			<!-- Table body -->
			<tbody>
				<tr th:each="client : ${clients}">
					<td th:text="${client.idKlienta}">Id klienta</td>
					<td th:text="${client.imie}">Imię</td>
					<td th:text="${client.nazwisko}">Nazwisko</td>
					<td th:text="${client.nrTelefonu}">Nr telefonu</td>
					<td th:text="${client.statusKlienta}">Status klienta</td>
					<td th:text="${client.nrSzafki}">Nr szafki</td>

					<td class="last"><a sec:authorize="hasRole('ADMIN')"
						th:href="@{'/klienci/edit/' + ${client.idKlienta}}">Edytuj</a>
						<a sec:authorize="hasRole('ADMIN')"
						th:href="@{'/klienci/delete/' + ${client.idKlienta}}">Usuń</a></td>
				</tr>
			</tbody>

		</table>
	</div>


</body>
</html>