<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Panel logowania</title>
	<link href="/login.css" rel="stylesheet" />
</head>
<body>
	<h1 align="center">Zaloguj się</h1>
	<div class="login-page">
		<p class="text-danger" th:if="${param.loginError}"
			th:text="'Błędny login lub hasło.'"></p>
		<div class="form" align="center">
			<form class="login-form" th:action="@{/login}" method='POST'>
				<table>
					<tr>
						<td><input type='text' name='username' value=''
							placeholder="nazwa użytkownika"></td>
					</tr>
					<tr>
						<td><input type='password' name='password'
							placeholder="hasło" /></td>
					</tr>
					<tr>
						<td><input class="btn" type="submit" value="Zaloguj" /></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>